
	.btn{
        padding: 0 !important;
    }
    
    
    * {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Eventos {
		position: absolute;
		width: 428px;
		height: 926px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Eventos;
		--web-view-id: Eventos;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Trazado_47 {
		fill: rgba(22,21,21,0.929);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_47 {
		overflow: visible;
		position: absolute;
		width: 429px;
		height: 926px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sonny-mauricio-yhc4pSbl01A-uns {
		position: absolute;
		width: 430px;
		height: 134px;
		left: 0px;
		top: 147px;
		overflow: visible;
	}
	#Polgono_1_eu {
		fill: rgba(255,255,255,1);
	}
	.Polgono_1_eu {
		overflow: visible;
		position: absolute;
		width: 24px;
		height: 29px;
		transform: matrix(1,0,0,1,26.5,24.5) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Plan_alimenticio {
		filter: drop-shadow(0px 3px 6px rgba(58, 0, 255, 0.678));
		left: 47px;
		top: 71px;
		position: absolute;
		overflow: visible;
		width: 335px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(254,63,30,1);
	}
	#Grupo_842 {
		position: absolute;
		width: 330px;
		height: 90px;
		left: 49px;
		top: 411px;
		overflow: visible;
	}
	#Grupo_830 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 227px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396 {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_6 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_831 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 117px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_e {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_e {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_5 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_832 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fa {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fa {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_4 {
		left: 30px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_841 {
		position: absolute;
		width: 337px;
		height: 90px;
		left: 46px;
		top: 301px;
		overflow: visible;
	}
	#Grupo_824 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fb {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fb {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_1 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 42px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_825 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 117px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fc {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fc {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_2 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 50px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_833 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 234px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fe {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fe {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_3 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_844 {
		position: absolute;
		width: 330px;
		height: 90px;
		left: 49px;
		top: 521px;
		overflow: visible;
	}
	#Grupo_843 {
		position: absolute;
		width: 330px;
		height: 90px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Grupo_826 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 110px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fj {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fj {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_8 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_829 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fm {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fm {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_7 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 48px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_834 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 227px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fp {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fp {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_9 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 52px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_846 {
		position: absolute;
		width: 337px;
		height: 90px;
		left: 46px;
		top: 741px;
		overflow: visible;
	}
	#Grupo_827 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_ft {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_ft {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_3_fu {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 40px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_838 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 117px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fw {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fw {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_4_fx {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 43px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_839 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 234px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_fz {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_fz {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_5_f {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 42px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_845 {
		position: absolute;
		width: 337px;
		height: 90px;
		left: 46px;
		top: 631px;
		overflow: visible;
	}
	#Grupo_828 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_f {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_f {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_0 {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 42px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_836 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 234px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_ga {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_ga {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_2_f {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_837 {
		position: absolute;
		width: 103px;
		height: 90px;
		left: 117px;
		top: 0px;
		overflow: visible;
	}
	#Rectngulo_396_gb {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectngulo_396_gb {
		position: absolute;
		overflow: visible;
		width: 103px;
		height: 90px;
		left: 0px;
		top: 0px;
	}
	#n_1_ga {
		left: 29px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 31px;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Grupo_865_gb {
		position: absolute;
		width: 428px;
		height: 62px;
		left: 0px;
		top: 864px;
		overflow: visible;
	}
	#Trazado_52_gc {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_52_gc {
		overflow: visible;
		position: absolute;
		width: 428px;
		height: 62px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_838764_gd {
		position: absolute;
		width: 47px;
		height: 45px;
		left: 304px;
		top: 11px;
		overflow: visible;
	}
	#calendar_ge {
		position: absolute;
		width: 44px;
		height: 41px;
		left: 192px;
		top: 14px;
		overflow: visible;
	}
	#home_gf {
		position: absolute;
		width: 51px;
		height: 41px;
		left: 73px;
		top: 11px;
		overflow: visible;
	}