* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Usuario {
    position: absolute;
    width: 428px;
    height: 926px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Usuario;
    --web-view-id: Usuario;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#img_fondo {
    fill: rgba(22,21,21,0.929);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.img_fondo {
    position: absolute;
    overflow: visible;
    width: 431px;
    height: 926px;
    left: -3px;
    top: 0px;
}
#input_correo {
    position: absolute;
    width: 337px;
    height: 55px;
    left: 42px;
    top: 496px;
    overflow: visible;
}
#Input_correo {
    fill: rgba(80,77,77,0.302);
}
.Input_correo {
    text-align: center;
    color: #F0F0F0;
    background-color: rgba(80,77,77,0.302);
    position: absolute;
    overflow: visible;
    width: 337px;
    height: 55px;
    left: 0px;
    top: 0px;
}
#Lnea_1_c {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Lnea_1_c {
    overflow: visible;
    position: absolute;
    width: 314px;
    height: 5px;
    left: 15px;
    top: 42px;
    transform: matrix(1,0,0,1,0,0);
}
#lbl_correo {
    left: 55px;
    top: 468px;
    position: absolute;
    overflow: visible;
    width: 143px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#btn_ingresar {
    position: absolute;
    width: 370px;
    height: 62px;
    left: 29px;
    top: 718px;
    overflow: visible;
}
#BtnIngreso{
    border-radius: 15px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(254,63,30,1);
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.BtnIngreso {
    position: absolute;
    overflow: visible;
    width: 370px;
    height: 62px;
    left: 0px;
    top: 0px;
}


#Btn_google{
    border-radius: 15px;
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(254,63,30,1);
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Btn_google{
    position: absolute;
    overflow: visible;
    width: 182px;
    height: 62px;
    left: 0px;
    top: 0px;
}

#btn_google {
    position: absolute;
    width: 182px;
    height: 62px;
    left: 29px;
    top: 803px;
    overflow: visible;
} 


#Ingresar_dc {
    left: 131px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 110px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(254,63,30,1);
}
#lbl_registrate {
    left: 32px;
    top: 874px;
    position: absolute;
    overflow: visible;
    width: 365px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#lbl_broken_hand {
    filter: drop-shadow(1px 3px 6px rgba(58, 0, 255, 0.678));
    left: 69px;
    top: 396px;
    position: absolute;
    overflow: visible;
    width: 291px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(254,63,30,1);
}
#lbl_contrasena {
    left: 57px;
    top: 581px;
    position: absolute;
    overflow: visible;
    width: 129px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#img_cuerda {
    position: absolute;
    width: 306px;
    height: 346px;
    left: 61px;
    top: 27px;
    overflow: visible;
}
#img_contrasea {
    position: absolute;
    width: 337px;
    height: 55px;
    left: 46px;
    top: 609px;
    overflow: visible;
}
#Input_Contra {
    fill: rgba(80,77,77,0.302);
}
.Input_Contra{
    text-align: center;
    background-color:rgba(80,77,77,0.302) ;
    color: #F0F0F0;
    overflow: visible;
    position: absolute;
    width: 337px;
    height: 55px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Lnea_4 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Lnea_4 {
    overflow: visible;
    position: absolute;
    width: 314px;
    height: 5px;
    left: 11px;
    top: 43px;
    transform: matrix(1,0,0,1,0,0);
}

#Grupo_903 {
    position: absolute;
    width: 182px;
    height: 62px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectngulo_98_dm {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_98_dm {
    position: absolute;
    overflow: visible;
    width: 182px;
    height: 62px;
    left: 0px;
    top: 0px;
}
#Ingresar_dn {
    left: 76px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(254,63,30,1);
}
#google_1 {
    position: absolute;
    width: 45px;
    height: 46px;
    left: 13px;
    top: 7px;
    overflow: visible;
}
#btn_facebook {
    position: absolute;
    width: 182px;
    height: 62px;
    left: 214px;
    top: 803px;
    overflow: visible;
}

#Grupo_904 {
    position: absolute;
    width: 182px;
    height: 62px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#BtnFacebook {
    border-radius: 15px;
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(254,63,30,1);
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.BtnFacebook {
    position: absolute;
    overflow: visible;
    width: 182px;
    height: 62px;
    left: 0px;
    top: 0px;
}

#Ingresar_ds {
    left: 76px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(254,63,30,1);
}
#facebook {
    position: absolute;
    width: 54px;
    height: 48px;
    left: 8px;
    top: 7px;
    overflow: visible;
}